body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

#viewcontainer {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.viewer {
  height: 100%;
  background-color: red;
}
.adsk-viewing-viewer {
  position: relative !important;
}
